ABACATEPAY_API_KEY=
ABACATEPAY_URL=https://api.abacatepay.com
ABACATEPAY_PRODUCT_ID=
ABACATEPAY_PRODUCT2_ID=
ABACATEPAY_PRODUCT3_ID=
ABACATEPAY_PRODUCT4_ID=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=PetAlliance