<div class="modal-content">
    <h2>Fazer denúncia</h2>

    <form method="POST" >

        <input type="hidden" name="tipo_alvo" value="<?= htmlspecialchars($_GET['tipo'] ?? 'site') ?>">

        <input type="hidden" name="alvo_id" value="<?= htmlspecialchars($_GET['id'] ?? '') ?>">

        <input
            name="descricao"
            placeholder="Descreva o motivo da denúncia..."
            required>
        </input>

        <button type="submit">
            Enviar denúncia
        </button>
    </form>
</div>