<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro - PetAlliance</title>
  </head>
<body>

<div>
  <div>
    <?php if (isset($_GET['erro'])): ?>
      <div><?= htmlspecialchars($_GET['erro']) ?></div>
    <?php endif; ?>

    <form method="POST" enctype="multipart/form-data">
      <a href="/index.php"><</a>
      <h1>Cadastrar</h1>

      <div id="etapa1">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" placeholder="Seu Nome" required>

        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" id="cpf" placeholder="Seu CPF" maxlength="14" minlength="11" required>

        <label for="cep">CEP:</label>
        <input type="text" name="cep" id="cep" placeholder="Seu CEP" maxlength="9" minlength="8" required>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Seu Email" required>

        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" placeholder="Sua Senha" required>

        <label>
          <input type="checkbox" name="aceite_termos" id="aceite_termos" required>
          <span></span>
          <span>Li e aceito os <a href="/backEnd/usuario/termos.php" target="_blank">Termos de Uso</a> e a <a href="/backEnd/usuario/privacidade.php" target="_blank">Política de Privacidade</a></span>
        </label>

        <button type="button" onclick="avancar()">Avançar</button>
      </div>

      <div id="etapa2" style="display: none;">
        <h3>Foto de perfil</h3>

        <img src="/uploads/usuario/placeholder.webp" id="preview-usuario" width="150" alt="Preview Foto">
        <br>

        <input type="file" name="imagemPerfil" id="imagemPerfil" accept="image/*">
        <br><br>
        <div>
          <button type="button" onclick="voltar()">Voltar</button>
          <button type="submit" name="cadastrarFoto">Cadastrar</button>
          <button type="submit" onclick="limparFoto()">Pular</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
  const inputUser = document.getElementById('imagemPerfil');
  const previewUser = document.getElementById('preview-usuario');
  inputUser.addEventListener('change', function() {
    const file = this.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) { previewUser.src = e.target.result; };
      reader.readAsDataURL(file);
    }
  });
</script>
<script src="../../frontEnd/utils/usuarioSalvos.js"></script>
<script src="../../frontEnd/utils/formatacao.js"></script>
</body>
</html>