<form method="POST" enctype="multipart/form-data">
    <h1>Cadastro de Animal</h1>

    <label for="foto_pet">Foto do animal:</label>
    <!-- Preview da Foto do Pet -->
    <img src="/uploads/usuario/placeholder.webp" id="preview-pet" width="150" alt="Preview Pet">
    <br>
    <input type="file" name="arquivoFotoPet" id="foto_pet" required>

    <label for="nome">Nome do animal:</label>
    <input type="text" name="nome" id="nome" minlength="3" maxlength="80" placeholder="Nome do animal" required>


    <label for="tipo">Tipo de animal:</label>
    <select name="tipo" id="tipo" required>
        <option value="" selected disabled>Selecione</option>
        <option value="Cachorro">Cachorro</option>
        <option value="Gato">Gato</option>
        <option value="Cavalo">Cavalo</option>
        <option value="Outro">Outro</option>
    </select>


    <label for="raca">Raça:</label>
    <input type="text" name="raca" id="raca" minlength="3" maxlength="80" placeholder="Raça" required>

    <label for="cor">Cor:</label>
    <select name="cor" id="cor" required>
        <option value="" selected disabled>Selecione</option>
        <option value="Preto">Preto</option>
        <option value="Branco">Branco</option>
        <option value="Cinza">Cinza</option>
        <option value="Marrom">Marrom</option>
        <option value="Outro">Outro</option>
    </select>

    <label for="sexo">Sexo:</label>
    <select name="sexo" id="sexo" required>
        <option value="" selected disabled>Selecione</option>
        <option value="Macho">Macho</option>
        <option value="Fêmea">Fêmea</option>
    </select>

    <label for="porte">Porte:</label>
    <select name="porte" id="porte" required>
        <option value="" selected disabled>Selecione</option>
        <option value="Pequeno">Pequeno</option>
        <option value="Médio">Médio</option>
        <option value="Grande">Grande</option>
    </select>

    <label for="dt_nascimento">Data de Nascimento:</label>
    <input type="date"  min="1900-01-01" name="dt_nascimento" id="dt_nascimento" required>

    <label for="peso">Peso:</label>
    <input type="number" min="0" step="0.01" name="peso" id="peso" placeholder="Peso" required>

    <label for="descricao">Descrição:</label>
    <textarea name="descricao" id="descricao" minlength="10" maxlength="200" placeholder="Descrição" required></textarea>

    <label for="vacinado" >Vacinado?</label>
    <select id="vacinado" name="vacinado" required>
        <option value="" style="display: none;" selected disabled>Sim ou não</option>
        <option value="1">Sim</option>
        <option value="0">Não</option>
    </select>

    <label for="certificado" >Possui Certificado de raça?</label>
    <select id="certificado" name="certificado" required>
        <option value="" style="display: none;" selected disabled>Sim ou não</option>
        <option value="1">Sim</option>
        <option value="0">Não</option>
    </select>

    <div id="campoCertificado" style="display:none;">
        <label for="arquivoCertificado">Enviar Certificado:</label>
        <input type="file" name="arquivoCertificado" id="arquivoCertificado" required>
    </div>

    <div id="campoVacinacao" style="display:none;">
        <label for="arquivoVacinacao">Enviar carteira de vacinação:</label>
        <input type="file" name="arquivoVacinacao" id="arquivoVacinacao" required>
    </div>

    <button type="submit">Cadastrar</button>
</form>

<script>
    // Script para Preview Dinâmico da Foto do Pet
    const inputPet = document.getElementById('foto_pet');
    const previewPet = document.getElementById('preview-pet');

    inputPet.addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                previewPet.src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    });
</script>

<script src="../../frontEnd/utils/animalSalvos.js"></script>
<script src="../../frontEnd/utils/animalFuncoes.js"></script>