<div class="modal-content">
    <h2>Fazer denúncia</h2>

    <form method="POST" >

        <input type="hidden" name="tipo_alvo" value="<?= $_GET['tipo'] ?? 'site' ?>">

        <input type="hidden" name="alvo_id" value="<?= $_GET['id'] ?? null ?>">

        <textarea
            name="descricao"
            rows="6"
            placeholder="Descreva o motivo da denúncia..."
            required>
        </textarea>

        <button type="submit">
            Enviar denúncia
        </button>
    </form>
</div>