<form method="POST">
    <h1>Cadastro de usuário</h1>
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome" placeholder="Seu Nome aqui" required>
    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" id="cpf" placeholder="Seu CPF aqui" maxlength="14" minlength="11" required>
    <label for="cep">CEP:</label>
    <input type="text" name="cep" id="cep" placeholder="Seu CEP aqui" maxlength="9" minlength="8" required>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" placeholder="Seu Email aqui" required>
    <label for="senha">Senha:</label>
    <input type="password" name="senha" id="senha" placeholder="Sua Senha aqui" required>
    <button type="submit">Cadastrar</button>
</form>