<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetAlliance</title>

    <div>

    <h1>Configurações</h1>

    <div>

        <a href="editarPerfil.php">
            <span>Editar Perfil</span>
            <span>></span>
        </a>

        <a href="alterarEmail.php">
            <span>Alterar Email</span>
            <span>></span>
        </a>

        <a href="alterarSenha.php">
            <span>Alterar Senha</span>
            <span>></span>
        </a>

        <a href="/../backEnd/denuncias/cadastrarDenuncia.php?tipo=site">
            <span>Relatar Problema</span>
            <span>></span>
        </a>

        <a href="/backEnd/pagamentos.php">
            <span>Pagamentos</span>
            <span>></span>
        </a>
        
        <a href="sobre.php">
            <span>Sobre</span>
            <span>></span>
        </a>

        <a href="/../../backEnd/logout.php">
            <span>Sair da Conta</span>
            <span>></span>
        </a>

    </div>

</div>

</body>