<script>
    window.API_URL_PERFIL = "/backEnd/usuario/editarPerfil.php";
</script>
<script src="/frontEnd/utils/editarPerfil.js"></script>

<form id="editar-perfil-form" method="POST" enctype="multipart/form-data">
    <div id="etapa1">
        <h3>Informações pessoais</h3>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" placeholder="Seu Nome aqui" required>
        <label for="cep">CEP:</label>
        <input type="text" name="cep" id="cep" placeholder="Seu CEP aqui" maxlength="9" minlength="8" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Seu Email aqui" required>
        <button type="submit">Atualizar Perfil</button>
    </div>
</form>


<script src="../../frontEnd/utils/usuarioSalvos.js"></script>
<script src="../../frontEnd/utils/formatacao.js"></script>