<div>
  <div></div>
  <div>
    <div>
      <h1>PetAlliance</h1>
      <p>Conectando quem ama com quem cuida</p>
      <p>O melhor para o seu melhor amigo.</p>
      <a href="/backEnd/usuario/sobre.php">Sobre n&oacute;s</a>
    </div>
    <div>
      <a href="backEnd/usuario/loginUsuario.php">Entrar</a>
      <a href="backEnd/usuario/cadastrarUsuario.php">Cadastrar</a>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>