<form method="POST">
    <h1>Login de usuário</h1>
    <label for="cpf" >Cpf:</label>
    <input type="text"  name="cpf" id="cpf" placeholder="Seu CPF aqui" maxlength="14" minlength="11" required>
    <label for="senha">Senha:</label>
    <input type="password" name="senha" id="senha" maxlength="50" minlength="3" placeholder="Sua Senha aqui" required>
    <button type="submit">Login</button>
</form>

<script src="../../frontEnd/utils/loginSalvos.js"></script>
<script src="../../frontEnd/utils/formatacao.js"></script>