<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetAlliance</title>
    <link rel="stylesheet" href="/frontEnd/style/style.css">
</head>
<body>
    <nav>
        <h1>NavBar aqui</h1>
        <ul>
            <!-- Imagem de perfil do usuário -->
            <img src="/uploads/usuario/<?php echo $_SESSION['usuario_imagem'] ?? 'placeholder.webp'; ?>" alt="Foto do Usuário" style="width: 10rem; height: 10rem; object-fit: cover;">
<li><a href="/app/Controllers/home.php">Inicio</a></li>
                <li><a href="/app/Controllers/usuario/membros.php">Membros</a></li>
                <li><a href="/app/Controllers/animal/favoritos.php">Favoritos</a></li>
                    <li><a href="/app/Controllers/animal/meusAnimais.php">Meus Animais</a></li>
            <button type="button" class="btn btn-menu" commandFor="menu" command="show-modal">Menu</button>
        </ul>

        <dialog id="menu">
            <button type="button" class="btn btn-close" commandFor="menu" command="close">X</button>
            <ul>
                <li><a href="/app/Controllers/animal/cadastrarAnimal.php">Cadastrar Animal</a></li>
                <li><a href="/app/Controllers/usuario/perfil.php">Perfil</a></li>
                <li><a href="/app/Controllers/usuario/configuracoes.php">Configuracoes</a></li>
                <li><a href="/app/Controllers/chat.php">Chat</a></li>
                <li><a href="/app/Controllers/match.php">Notificações</a></li>

            </ul>
        </dialog>
    </nav>

    <script src="/frontEnd/utils/navBar.js"></script>