<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetAlliance</title>
</head>
<body>
    <nav>
        <h1>NavBar aqui</h1>
        <ul>
            <!-- Imagem de perfil do usuário -->
            <img src="/uploads/usuario/<?php echo $_SESSION['usuario_imagem'] ?? 'placeholder.webp'; ?>" style="height: 10rem;" alt="Foto do Usuário">
            
            <button type="button" class="btn btn-menu" commandFor="menu" command="show-modal">Menu</button>
        </ul>

        <dialog id="menu">
            <button type="button" class="btn btn-close" commandFor="menu" command="close">X</button>
            <ul>
                <li><a href="/backEnd/home.php">Inicio</a></li>
                <li><a href="/backEnd/animal/cadastrarAnimal.php">Cadastrar Animal</a></li>
                <li><a href="/backEnd/animal/meusAnimais.php">Meus Animais</a></li>
                <li><a href="/backEnd/animal/favoritos.php">Favoritos</a></li>
                <li><a href="/backEnd/usuario/perfil.php">Perfil</a></li>
                <li><a href="/backEnd/usuario/configuracoes.php">Configuracoes</a></li>

            </ul>
        </dialog>
    </nav>