<main>
    <h2>Minhas Notificações</h2>
    <section id="minhas-solicitacoes-section">
        <h3>Minhas Solicitações Enviadas</h3>
        <div id="minhas-solicitacoes-list"></div>
    </section>

    <section id="solicitacoes-section">
        <h3>Solicitações de Match Recebidas</h3>
        <div id="solicitacoes-list"></div>
    </section>

    <section id="notificacoes-section">
        <h3>Notificações</h3>
        <div id="notificacoes-list"></div>
    </section>

    <script src="/frontEnd/utils/notificacoes.js"></script>
</main>
